.page-wrapper {
    @media (min-width: 992px) {
        padding-left: 0 !important;

        .page-header {
            margin-left: 0 !important;
            border-bottom: 1px solid lightgray;
        }
    }

    #search-field {
        max-width: 90%;
    }
}

#results-table {
    .price, .rank, .mo-sales, .d-sales {
        color: orange;
        font-weight: 700;
    }

    .name {
        button {
            padding: 0;
            font-size: 0.8125rem;
            max-width: 500px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .img-popover {
        width: 200px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}
