<div class="page-wrapper">
    <div class="page-inner">
        <div class="page-content-wrapper">
            <header class="page-header" role="banner">
                <div class="page-logo">
                    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative"
                        data-toggle="modal" data-target="#modal-shortcut">
                        <img src="/assets/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                        <span class="page-logo-text mr-1">SmartAdmin WebApp</span>
                        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                        <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                    </a>
                </div>
                <!-- <div class="hidden-md-down position-relative">
                    <a href="#" class="header-btn btn js-waves-off"><i class="ni ni-menu"></i>
                    </a>
                </div> -->
                <!-- <div class="hidden-lg-up">
                    <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
                        <i class="ni ni-menu"></i>
                    </a>
                </div> -->
                <div class="search">
                    <div class="app-forms hidden-xs-down" role="search" autocomplete="off">
                        <input type="text" id="search-field" placeholder="Search for anything" class="form-control" [(ngModel)]="searchText" (keyup.enter)="onSearchEnter()">
                        <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none"
                            data-action="toggle" data-class="mobile-search-on">
                            <i class="fal fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ml-auto d-flex">
                    <div class="hidden-md-down" *ngIf="searchText">
                        <a class="header-icon" style="cursor: pointer" (click)="onClearSearchClick()">
                            <i class="fal fa-times"></i>
                        </a>
                    </div>
                    <div class="hidden-sm-up">
                        <a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on"
                            data-focus="search-field" title="Search">
                            <i class="fal fa-search"></i>
                        </a>
                    </div>
                    <div class="hidden-md-down" *ngIf="state === 'loading'">
                        <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-settings">
                            <i class="fas fa-sync fa-spin"></i>
                        </a>
                    </div>
                    <!-- app settings -->
                    <!-- <div class="hidden-md-down">
                        <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-settings">
                            <i class="fal fa-cog"></i>
                        </a>
                    </div> -->
                </div>
            </header>
            <!-- END Page Header -->
            <!-- BEGIN Page Content -->
            <!-- the #js-page-content id is needed for some plugins to initialize -->
            <main id="js-page-content" role="main" class="page-content">
                <div class="row">
                    <div class="col-sm-3 col-xl-3">
                        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                            <div class="">
                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                    {{ (averageDailySales | number) || '--' }}
                                    <small class="m-0 l-h-n">Average Daily Sales</small>
                                </h3>
                            </div>
                            <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1"
                                style="font-size:6rem"></i>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-3">
                        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                            <div class="">
                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                    {{ (averageSalesRank | number) || '--' }}
                                    <small class="m-0 l-h-n">Average Sales Rank</small>
                                </h3>
                            </div>
                            <i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4"
                                style="font-size: 6rem;"></i>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-3">
                        <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
                            <div class="">
                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                    {{ (averagePrice | currency) || '--' }}
                                    <small class="m-0 l-h-n">Average Price</small>
                                </h3>
                            </div>
                            <i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
                                style="font-size: 8rem;"></i>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-3">
                        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                            <div class="">
                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                    {{ (averageReviews | number) || '--' }}
                                    <small class="m-0 l-h-n">Average Reviews</small>
                                </h3>
                            </div>
                            <i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4"
                                style="font-size: 6rem;"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="panel-4" class="panel">
                            <div class="panel-container show">
                                <div class="panel-content">
                                    <table id="results-table"
                                        class="table table-bordered table-hover table-striped w-100">
                                        <thead class="bg-warning-200">
                                            <tr>
                                                <th>#</th>
                                                <th>Product Name</th>
                                                <!-- <th>Brand</th> -->
                                                <th>Price</th>
                                                <!-- <th>Category</th> -->
                                                <th>Rank</th>
                                                <th>Mo. Sales</th>
                                                <th>D. Sales</th>
                                                <th>Revenue</th>
                                                <th>Reviews</th>
                                                <!-- <th>Seller</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of products; let i = index">
                                                <td>{{ i + 1 }}</td>
                                                <td class="name"><button type="button" class="btn btn-lg btn-link" data-toggle="popover"
                                                    data-trigger="focus" data-html="true" data-placement="top" title=""
                                                    [attr.data-content]="product.popoverContent">{{ product.name }}
                                                    </button>
                                                </td>
                                                <!-- <td class="brand">
                                                    {{ product.brand }}
                                                </td> -->
                                                <td class="price">{{ product.price | currency }}</td>
                                                <!-- <td>{{ product.category }}</td> -->
                                                <td class="rank">#{{ product.rank | number }}</td>
                                                <td class="mo-sales">{{ product.monthlySales }}</td>
                                                <td class="d-sales">{{ product.dailySales }}</td>
                                                <td>{{ product.revenue | currency }}</td>
                                                <td>{{ product.reviews }}</td>
                                                <!-- <td>{{ product.seller }}</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- datatable end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- this overlay is activated only when mobile menu is triggered -->
            <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
            <!-- END Page Content -->
            <!-- BEGIN Page Footer -->
            <footer class="page-footer" role="contentinfo">
                <div class="d-flex align-items-center flex-1 text-muted" [style.visibility]="products.length == 0? 'hidden': 'visible'">
                    <span class="hidden-md-down fw-700">
                        <a class='text-primary fw-500' style="cursor: pointer" (click)="onNextPageClick()">Extract next page >></a
                    ></span>
                </div>
                <div class="d-flex align-items-center flex-1 text-muted" [style.visibility]="products.length == 0? 'hidden': 'visible'">
                    <span class="hidden-md-down fw-700">Showing results 1 - {{ products.length }}</span>
                </div>
                <div>
                    <ul class="list-table m-0">
                        <li class="pl-3 fs-xl">
                            <a href="#" class="text-secondary"><i class="fal fa-question-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
            <!-- END Page Footer -->
            <!-- BEGIN Shortcuts -->
            <!-- modal shortcut -->
            <div class="modal fade modal-backdrop-transparent" id="modal-shortcut" tabindex="-1" role="dialog"
                aria-labelledby="modal-shortcut" aria-hidden="true">
                <div class="modal-dialog modal-dialog-top modal-transparent" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <ul class="app-list w-auto h-auto p-0 text-left">
                                <li>
                                    <a href="intel_introduction.html" class="app-list-item text-white border-0 m-0">
                                        <div class="icon-stack">
                                            <i class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
                                            <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                                            <i class="fal fa-home icon-stack-1x opacity-100 color-white"></i>
                                        </div>
                                        <span class="app-list-name">
                                            Home
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page_inbox_general.html" class="app-list-item text-white border-0 m-0">
                                        <div class="icon-stack">
                                            <i class="base base-7 icon-stack-3x opacity-100 color-success-500 "></i>
                                            <i class="base base-7 icon-stack-2x opacity-100 color-success-300 "></i>
                                            <i class="ni ni-envelope icon-stack-1x text-white"></i>
                                        </div>
                                        <span class="app-list-name">
                                            Inbox
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="intel_introduction.html" class="app-list-item text-white border-0 m-0">
                                        <div class="icon-stack">
                                            <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                                            <i class="fal fa-plus icon-stack-1x opacity-100 color-white"></i>
                                        </div>
                                        <span class="app-list-name">
                                            Add More
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- END Shortcuts -->
        </div>
    </div>
</div>
<!-- END Page Wrapper -->

<!-- BEGIN Page Settings -->
<div class="modal fade js-modal-settings modal-backdrop-transparent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right modal-md">
        <div class="modal-content">
            <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center w-100">
                <h4 class="m-0 text-center color-white">
                    Layout Settings
                    <small class="mb-0 opacity-80">User Interface Settings</small>
                </h4>
                <button type="button" class="close text-white position-absolute pos-top pos-right p-2 m-1 mr-2"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
        </div>
    </div>
</div> <!-- END Page Settings -->
